body {
    background-Color: rgb(133, 53, 230);
}

#container {
    margin: auto;
    width: 400px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.521);
    background-color: rgb(0, 0, 0);
    text-align: center;
    user-select: none;
    position: relative;
}

#playBackTime {
    width: 80%;
    height: 2px;
    border-radius: 2px;
    appearance: none;
    user-select: none;
}

#playBackTime::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: aliceblue;
    user-select: none;
}

#playBackTime:hover {
    border: 0.1px solid white;
}

#display {
    padding-top: 12px;
    user-select: none;
}

#controles {
    margin-top: 20px;
    user-select: none;
}

.buttons {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 0px;
    user-select: none;
}

.buttons:hover {
    background-color: gray;
    user-select: none;
}

.buttonTransparente {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    user-select: none;
}

.simboloControle:hover {
    color: gray;
    user-select: none;
}

.simboloControle {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

#volume {
    appearance: none;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    transform: rotate(270deg);
    float: right;
    position: absolute;
    right: 30px;
    bottom: 45px
}

#volume:hover {
    background-color: gray;
    border: 1px solid white;
}

#volume::-webkit-slider-thumb:hover {
    border: 1px solid white;
    box-sizing: content-box;
}

#volume::-webkit-slider-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    user-select: none;
}

#boxDisco {
    background-color: rgb(0, 0, 0);
    border-radius: 360px;
    width: 360px;
    border: 2px solid white;
}

.girando {
    animation: rotacao 5s infinite linear;
}

@keyframes rotacao {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}