#container {
    background-color: aliceblue;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 6px;
    margin-left: calc(75px);
}